* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
}

.back {
	background-image:url('/resources/images/index/sunset.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

#tama {
	width: 20%;
	position: absolute;
  	top: 50%;
  	left: 50%;
 	margin: -25px 0 0 -25px; 
}

.game-container {
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
  text-align: center;
  width:100%;
  height:100%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid #000;
}

.buttons {
  margin-top: 1rem;
}

.buttons button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.buttons button:hover {
  background-color: #45a049;
}

.score {
  font-size: 1.2rem;
  margin-top: 1rem;
}