<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.seonhui.app.members.MemberDTO" alias="MemberDTO"/>
  		<typeAlias type="com.seonhui.app.members.MemberFileDTO" alias="MemberFileDTO"/>
  		<typeAlias type="com.seonhui.app.accounts.AccountDTO" alias="AccountDTO"/>
  		<typeAlias type="com.seonhui.app.records.RecordDTO" alias="RecordDTO"/>
  		<typeAlias type="com.seonhui.app.accounts.ListOption" alias="ListOption"/>
  		<typeAlias type="com.seonhui.app.product.ProductDTO" alias="ProductDTO"/>
  		<typeAlias type="com.seonhui.app.product.ProductFileDTO" alias="ProductFileDTO"/>
  		<typeAlias type="com.seonhui.app.boards.notices.NoticeDTO" alias="NoticeDTO"/>
  		<typeAlias type="com.seonhui.app.boards.BoardDTO" alias="BoardDTO"/>
  		<typeAlias type="com.seonhui.app.boards.BoardFileDTO" alias="BoardFileDTO"/>
  		<typeAlias type="com.seonhui.app.boards.qnas.QnaDTO" alias="QnaDTO"/>
  		<typeAlias type="com.seonhui.app.files.FileDTO" alias="FileDTO"/>
  		
  		<typeAlias type="com.seonhui.app.util.Pager" alias="Pager"/>
  		<typeAlias type="java.util.Map" alias="Map"/>
  	</typeAliases>
  	
  
  </configuration>