<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.seonhui.app.accounts.AccountDAO">
  <insert id="add" parameterType="AccountDTO">
		INSERT INTO ACCOUNTS (AC_NUM, ID, P_CODE, ACCOUNT_BALANCE, ACCOUNT_DATE)
		VALUES (#{ac_num}, #{id} , #{p_code}, 0, SYSDATE)
</insert>
<select id="list" parameterType="MemberDTO" resultType="AccountDTO">
	SELECT AC_NUM, ACCOUNT_BALANCE FROM ACCOUNTS WHERE ID=#{id}
</select>
  </mapper>