<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.seonhui.app.accounts.AccountDAO">
  <insert id="add" parameterType="MemberDTO">
		INSERT INTO ACCOUNTS (AC_NUM, ID, P_CODE, ACCOUNT_BALANCE, ACCOUNT_DATE)
		SELECT #{ac_num}, u.ID , p.P_CODE, 0, SYSDATE 
		FROM USERS u , PRODUCTS p WHERE u.ID=#{id} AND p.P_CODE=#{p_code}
</insert>
  </mapper>