<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace는 꼭 들어가야될 속성 -->
  <mapper namespace="com.seonhui.app.boards.notices.NoticeDAO">
  	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
  		SELECT * FROM 
			(
				SELECT ROWNUM R, N.* FROM 
				(
					SELECT * 
					FROM NOTICE
					<where>
						"BoardNum" > 0
						
						<choose>
							<when test="kind == 'k3'">
								AND "BoardContents" LIKE '%'||#{search}||'%'
							</when>
							
							<when test="kind == 'k2'">
								AND "BoardTitle" LIKE '%'||#{search}||'%'
							</when>
							
							<otherwise>
								AND "BoardWriter" LIKE '%'||#{search}||'%'
							</otherwise>
							
						</choose>
						
					</where> 
			 		<choose>
							<when test="order == 1">
						 		ORDER BY "CreateDate" 
								DESC
							</when>
							
							<otherwise>
								ORDER BY "BoardHit" 
								DESC
							</otherwise>
							
					</choose>
			 	) N
			 )
		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<select id="getTotalCount" resultType="java.lang.Long" parameterType="Pager">
  		SELECT COUNT(ROWNUM) FROM NOTICE
  		<where>
			"BoardNum" > 0
						
			<choose>
				<when test="kind == 'k3'">
					AND "BoardContents" LIKE '%'||#{search}||'%'
				</when>
				
				<when test="kind == 'k2'">
					AND "BoardTitle" LIKE '%'||#{search}||'%'
				</when>
				
				<otherwise>
					AND "BoardWriter" LIKE '%'||#{search}||'%'
				</otherwise>
							
			</choose>
						
		</where> 
  	</select>
  	
  	<select id="getDetail" resultType="NoticeDTO" parameterType="Pager">
  		SELECT * FROM NOTICE WHERE "BoardNum" = #{boardNum}
  	</select>
  	
  	<insert id="add" parameterType="NoticeDTO">
  		INSERT INTO NOTICE 
  		("BoardNum", "BoardWriter", "CreateDate", "BoardTitle", "BoardContents", "BoardCategory", "UpdateDate", "BoardHit") 
  		VALUES 
  		(BOARD_SEQ.NEXTVAL, #{boardWriter}, SYSDATE, #{boardTitle}, #{boardContents}, NULL, NULL, 0)
  	</insert>
  	
  	<update id="update" parameterType="NoticeDTO">
  		UPDATE NOTICE 
  		SET "BoardTitle" = #{boardTitle}, 
  			"BoardContents" = #{boardContents}, 
  			"UpdateDate" = SYSDATE 
		WHERE "BoardNum" = #{boardNum}
  	</update>
  	
  	<delete id="delete" parameterType="NoticeDTO">
  		DELETE FROM NOTICE WHERE "BoardNum" = #{boardNum}
  	</delete>
  	
  	
  	
  </mapper>
