<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace는 꼭 들어가야될 속성 -->
  <mapper namespace="com.seonhui.app.notice.NoticeDAO">
  	<select id="getList" resultType="NoticeDTO">
  		SELECT * FROM NOTICE
  	</select>
  	
  	<select id="getDetail" resultType="NoticeDTO" parameterType="Pager">
  		SELECT * FROM NOTICE WHERE "BoardNum" = #{boardNum}
  	</select>
  	
  	<insert id="add" parameterType="NoticeDTO">
  		INSERT INTO NOTICE 
  		(BoardNum, BoardWriter, CreateDate, BoardTitle, BoardContents, BoardCategory, UpdateDate, BoardHit) 
  		VALUES 
  		(#{boardNum}, #{boardWriter}, SYSDATE, #{boardTitle}, #{boardContents}, NULL, NULL, 0)
  	</insert>
  	
  	<update id="update" parameterType="NoticeDTO">
  		UPDATE NOTICE 
  		SET "BoardTitle" = #{boardTitle}, 
  			"BoardContents" = #{boardContents}, 
  			"UpdateDate" = SYSDATE 
		WHERE "BoardNum" = #{boardNum}
  	</update>
  	
  	<delete id="delete" parameterType="NoticeDTO">
  		DELETE FROM NOTICE WHERE "BoardNum" = #{boardNum}
  	</delete>
  	
  	
  	
  </mapper>
