<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 꼭 들어가야될 속성 -->
<mapper namespace="com.seonhui.app.boards.notices.NoticeDAO">
	<sql id="searchSql">
		<where>
			"BoardNum" > 0
			<choose>
				<when test="kind == 'contents'">
					AND "BoardContents" LIKE '%'||#{search}||'%'
				</when>

				<when test="kind == 'title'">
					AND "BoardTitle" LIKE '%'||#{search}||'%'
				</when>

				<otherwise>
					AND "BoardWriter" LIKE '%'||#{search}||'%'
				</otherwise>
			</choose>
		</where>
	</sql>

	<select id="getList" resultType="NoticeDTO"
		parameterType="Pager">
		SELECT * FROM
		(
			SELECT ROWNUM R, N.* FROM
			(
				SELECT * FROM NOTICE
					<include refid="searchSql"></include>
		<choose>
			<when test="order == 1">
				ORDER BY "CreateDate"
				DESC
			</when>

			<otherwise>
				ORDER BY "BoardHit"
				DESC
			</otherwise>

		</choose>
			) N
		)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>

	<select id="getTotalCount" resultType="java.lang.Long"
		parameterType="Pager">
		SELECT COUNT(ROWNUM) FROM NOTICE
		<include refid="searchSql"></include>
	</select>

	<select id="getDetail" resultMap="noticeResult" parameterType="Pager">
		SELECT N.*, NF.*
			FROM NOTICE N 
			LEFT JOIN 
			NOTICEFILES NF
			ON N."BoardNum" = NF.BOARDNUM
		WHERE N."BoardNum" = #{boardNum}
	</select>
	
	<resultMap type="NoticeDTO" id="noticeResult">
  		<id column="BOARDNUM" property="boardNum"/>
  		<result column="BOARDWRITER" property="boardWriter"/>
		<result column="CREATEDATE" property="createDate"/>
		<result column="BOARDTITLE" property="boardTitle"/>
		<result column="BOARDCONTENTS" property="boardContents"/>
		<result column="BOARDCATEGORY" property="boardCategory"/>
		<result column="UPDATEDATE" property="updateDate"/>
		<result column="BOARDHIT" property="boardHit"/>
		<result column="REF" property="ref"/>
		<result column="STEP" property="step"/>
		<result column="DEPTH" property="depth"/>
		<result column="DEL" property="del"/>
  	
  		<collection property="boardFileDTO" javaType="java.util.List" ofType="BoardFileDTO">
  			<id column="FILENUM" property="fileNum"/>
  			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
  		</collection>
  	</resultMap>
	
	<select id="getNum" resultType="Long">
		SELECT BOARD_SEQ.NEXTVAL FROM DUAL
	</select>

	<insert id="add" parameterType="NoticeDTO">
		INSERT INTO NOTICE
		("BoardNum", "BoardWriter", "CreateDate", "BoardTitle", "BoardContents",
		"BoardCategory", "UpdateDate", "BoardHit")
		VALUES
		(#{boardNum}, #{boardWriter}, SYSDATE, #{boardTitle}, #{boardContents}, 'N', NULL,
		0)
	</insert>
	
	<insert id="addFile" parameterType="BoardFileDTO">
		INSERT INTO NOTICEFILES (FileNum, BoardNum, FileName, OriName)
		VALUES (BOARD_SEQ.NEXTVAL, #{boardNum}, #{fileName}, #{oriName} )
	</insert>

	<update id="update" parameterType="NoticeDTO">
		UPDATE NOTICE
		SET "BoardTitle" = #{boardTitle},
		"BoardContents" = #{boardContents},
		"UpdateDate" = SYSDATE
		WHERE "BoardNum" = #{boardNum}
	</update>

	<delete id="delete" parameterType="NoticeDTO">
		DELETE FROM NOTICE WHERE "BoardNum" = #{boardNum}
	</delete>



</mapper>
