<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace는 꼭 들어가야될 속성, 다른 매퍼랑 구분하기 위해 씀 -->
  <mapper namespace="com.seonhui.app.product.ProductDAO">
  	<select id="getDetail" resultType="ProductDTO" parameterType="Pager">
  		SELECT * FROM PRODUCTS WHERE P_CODE = #{p_code}
  	</select>
  	
  	<select id="getList" resultType="ProductDTO" parameterType="Pager">
  		<![CDATA[
  		SELECT * FROM 
			(
				SELECT ROWNUM R, P.* FROM 
				(
					SELECT * 
					FROM PRODUCTS
			 		ORDER BY INDEX_OF_LISTS DESC
			 	) P
			 )
		WHERE R BETWEEN #{startRow} AND #{lastRow}
		]]>
  	</select>
  	
  	<select id="getTotalCount" resultType="java.lang.Long">
  		SELECT COUNT(ROWNUM) FROM PRODUCTS
  	</select>
  	
  	<insert id="add" parameterType="ProductDTO">
  		INSERT INTO PRODUCTS (P_CODE, P_NAME, INTEREST, SCRIPT, INDEX_OF_LISTS) VALUES (#{p_code}, #{p_name}, #{interest}, #{script}, PRODUCTS_SEQ.NEXTVAL)
  	</insert>
  	
  	<update id="update" parameterType="ProductDTO">
  		UPDATE PRODUCTS SET P_CODE=#{p_code}, P_NAME=#{p_name}, INTEREST=#{interest}, SCRIPT=#{script} WHERE INDEX_OF_LISTS=#{index_Of_Lists}
  	</update>
  	
  	<delete id="delete" parameterType="ProductDTO">
  		DELETE FROM PRODUCTS WHERE INDEX_OF_LISTS=#{index_Of_Lists}
  	</delete>
  	
  	
  	
  	

  </mapper>
